@font-face {
 font-family:'Woodwarrior-Regular';
src:
   url('../../fonts/Woodwarrior-Regular.otf')
    format('opentype');
    font-weight: normal;
    font-style: normal;
}

 @font-face {
    font-family: 'PlayfairDisplay-Regular';
    src:
    url('../../fonts/PlayfairDisplay-Regular.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
 }

 .ubuntu-condensed-regular {
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
 body {
    background-color: #814e3d;
    color: white;
}

 .Account_Settings{
width: 200px;
height: 800px;
background-color:#809848;
border: 3px solid #000000;
border-radius: 20px;
padding: 20px;
text-align:center;
color: white;
font-family: Arial, Helvetica, sans-serif;
top: 700px;
left: 3450px;

}

 .Change_Accounts{
    width:  700px;
    height: 800px;
    background-color:#809848;
    border: 3px solid #000000;
    border-radius: 20px;
    padding: 20px;
    text-align:center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 230px;
    left: 380px;
}

#account-button{
    float: right;
}

#Page_Title{ font-family: Woodwarrior-Regular;
  color: aliceblue;

}

 *{
    ::-webkit-scrollbar {
        background: #7a3b00;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #24b345;
        -webkit-border-radius: 1.5ex;
    }
    
    ::-webkit-scrollbar-corner {
        background: #006518a8;
    }

 }

 .ChangeUsername {
  color: white;
  background-color: #67b41ae6;
  border: none;
  border-radius: 40px;
  width: 200px;
  height: 70px;
  position: absolute;
  left: 800px;
  top: 400px;
  font-family: Ubuntu Condensed;
  font-size: 20px;
 }

 .ChangeUsername:hover {  
  background-color: #67B41A;
 }

 .ChangePassword {
  color: white;
  background-color: #67b41ae6;
  border: none;
  border-radius: 40px;
  width: 200px;
  height: 70px;
  position: absolute;
  left: 600px;
  top: 400px;
  font-family: Ubuntu Condensed;
  font-size: 20px;
 }

 .ChangePassword:hover {
  background-color: #67B41A;
 }