/* Fonts */
@font-face {
  font-family: "Woodwarrior-Regular";
  src: url("../../fonts/Woodwarrior-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Future-Regular";
  src: url("../../fonts/Futura-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFUIText-Regular";
  src: url("../../fonts/SFUIText-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.ubuntu-condensed-regular {
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}
/* Fonts END */

/* Background styling and page text color */
body {
  background-position: relative;
  background-size: cover;
  background-repeat: repeat-y;
  background-image: url("../Images/Check Out Page Background.png");
  color: white;
}

/* Scroll bar customization */
* {
  ::-webkit-scrollbar {
    background: #7a3b00;
  }

  ::-webkit-scrollbar-thumb {
    background: #24b345;
    -webkit-border-radius: 1.5ex;
  }

  ::-webkit-scrollbar-corner {
    background: #006518a8;
  }
}

/* Highlighting effects */
body::selection {
  color: rgb(60, 176, 1);
  background-color: rgb(119, 66, 8);
}

nav::selection {
  color: rgb(60, 176, 1);
  background-color: rgb(119, 66, 8);
}

#nav-buttons::selection {
  color: rgb(60, 176, 1);
  background-color: rgb(119, 66, 8);
}

#Page_Title::selection {
  color: rgb(60, 176, 1);
  background-color: rgb(119, 66, 8);
}
/* Highlighting effects END */

/* Espresso positioning  and effects*/
#Cup {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  left: 350px; /* Center horizontally */
}

/* Table positioning and effect */
#Table {
  pointer-events: none;
  position: absolute;
  left: 350px;
}

/* Account button placement */
#account-button {
  float: right;
}

/* Page title */
#Page_Title {
  font-family: Woodwarrior-Regular;
  color: aliceblue;
}

/* Cart */
#Cart {
  width: 300px;
  height: 500px;
  background-color: #809948eb;
  border: 5px solid #000000;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  position: absolute;
  top: 150px;
  left: 950px;
  font-family: Ubuntu Condensed;
  font-size: 20px;
}

/* Cart Title */
#Cart-Title {
  position: absolute;
  top: 0px;
  left: 10px;
  font-size: 25px;
}

/* Cart Image */
#Cart-Image {
  left: 0px;
  position: absolute;
}

/* Cart remove button */
#Price:hover {
  content: "X";
  color: red;
  cursor: pointer;
  padding: 15px;
}

/* Info Fields */
#Info-Field_1 {
  width: 300px;
  height: 200px;
  background-color: #809948eb;
  border: 5px solid #000000;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  position: absolute;
  top: 450px;
  left: 150px;
  font-family: Ubuntu Condensed;
  font-size: 20px;
}

#Info-Field_2 {
  width: 300px;
  height: 200px;
  background-color: #809948eb;
  border: 5px solid #000000;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  position: absolute;
  top: 450px;
  left: 520px;
  font-family: Ubuntu Condensed;
  font-size: 20px;
}
/* Info Fields END */

/* Text Fields */
#Text-Fields {
  color: #1b01c4;
  font-family: Ubuntu Condensed;
  font-size: 15px;
  border-radius: 20px;
  border: 0px solid #000000;
  background-color: rgb(182, 182, 182);
}

/* Submit Button */
#Submit-Button {
  font-family: Ubuntu Condensed;
  font-size: 15px;
  border-radius: 20px;
  border: 3px solid #000000;
  background-color: rgb(42, 120, 0);
  color: white;
  width: 550px;
  height: 50px;
  position: absolute;
  top: 750px;
  left: 450px;
  padding: 10px;
  margin: 1em auto 1em auto;
  text-align: center;
  cursor: pointer;
}

/* Submit Button Hover */
#Submit-Button:hover {
  animation-name: button-hover;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes button-hover {
  from {
    background-color: rgb(42, 120, 0);
    border: 3px solid #000000;
  }
  to {
    background-image: Linear-gradient(#007011, #009f2d, #00b30f);
    border: 5px solid #000000;
  }
}

/* Stars */
#star {
  color: rgb(170, 0, 0);
}

/* "Fields Are Required" notes */
.note {
  font-size: 12px;
}

/* Mini Page styling connected to mini_page.html */
#mini-page {
  font-family: Ubuntu Condensed;
}
/* Mini Page styling END */

/* Payment buttons */
input#PayPal {
  font-family: Futura-Regular;
  color: #0060d0;
  background-color: #51acc8b3;
  background-image: url(../Assets/paypal.svg); /* 16px x 16px */
  background-repeat: no-repeat; /* make the background image appear only once */
  background-position: 0px 0px; /* equivalent to 'top left' */
  border: none; /* assuming we don't want any borders */
  border-radius: 10px;
  cursor: pointer; /* make the cursor like hovering over an <a> element */
  height: 16px; /* make this the size of your image */
  padding-left: 16px; /* make text start to the right of the image */
  vertical-align: middle; /* align the text vertically centered */
}

input#ApplePay {
  font-family: SFUIText-Regular;
  color: #ffffff;
  background-color: #222222b3;
  background-image: url(../Assets/apple.svg); /* 16px x 16px */
  background-repeat: no-repeat; /* make the background image appear only once */
  background-position: 0px 0px; /* equivalent to 'top left' */
  border: none; /* assuming we don't want any borders */
  border-radius: 10px;
  cursor: pointer; /* make the cursor like hovering over an <a> element */
  height: 16px; /* make this the size of your image */
  padding-left: 16px; /* make text start to the right of the image */
  vertical-align: middle; /* align the text vertically centered */
}

input#Other {
  font-family: Ubuntu;
  color: #a05211;
  background-color: #67b41ac5;
  background-image: url(../Assets/app-indicator.svg); /* 16px x 16px */
  background-repeat: no-repeat; /* make the background image appear only once */
  background-position: 0px 0px; /* equivalent to 'top left' */
  border: none; /* assuming we don't want any borders */
  border-radius: 10px;
  cursor: pointer; /* make the cursor like hovering over an <a> element */
  height: 16px; /* make this the size of your image */
  padding-left: 16px; /* make text start to the right of the image */
  vertical-align: middle; /* align the text vertically centered */
}
/* Payment buttons END */
