/* Wood Warrior font*/
@font-face { 
    font-family: 'Woodwarrior-Regular'; 
    src: 
        url('../../fonts/Woodwarrior-Regular.otf')  
        format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
} 
.ubuntu-condensed-regular {
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }



/* Background styling and page text color */
body{
    background-position: relative;
    background-size: cover;
    background-repeat: repeat-y;
    background-image:url("../Images/Campony\ Info\ Page\ Background.png");
}
 /* Scroll bar customization */  
*{
    ::-webkit-scrollbar {
        background: #7a3b00;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #60bb75;
        -webkit-border-radius: 1.5ex;
    }
    
    ::-webkit-scrollbar-corner {
        background: #006518a8;
    }
}

/* Account button placement */
#account-button{
    position:absolute;
    top: 10px;
    left: 1855px;
}

/* Boxes*/
#companyboxintro {
    border: 3.5px solid #000000;
    border-radius: 25px;
    position: absolute;
    top: 50px;
    left: 700px;
    padding: 50px;
    width: 600px;
    background-color: #a7bb78c7;
    font-size:large;
    font-weight:bold


} 

/*Boxes*/
#applyherebox {
    border: 3.5px solid #000000;
    border-radius: 25px;
    position: absolute;
    top: 490px;
    font-weight:bold;
    font-size: large;
    left: 700px;
    padding: 130px;
    height: 140px;
    width: 430px;
    background-color: #99b84fb6
    
    }
    
 
/*mrcoffeeimg*/
#mr-coffee {
    border: 3.5px solid #000000;
    border-radius: 15px;
    right: 100px;
}


/*Blue texts + codings */
#jointhequest {
    color: #0858b3;
    top: auto;
    font-size:21px;
    font-weight:bolder;
}


#quest-coffee {
    color: #0858b3;
    font-size:21px;

}

#quest-coff {
    color: #0858b3;
    font-size:21px;
}

#questcof {
    color: #0858b3;
    font-size:21px;
}

#wompcityfries {
    color: #0858b3;
    font-size:21px;
}

#mrcoffee {
    color: #0858b3;
}

/*Page title*/
#Page_Title{
    font-family: 'Woodwarrior-Regular';
    color: aliceblue;
    position:absolute;
    left: 100px;
    top: 30px;
}

#applyhere {
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    font-weight: bolder;
}

#applyhere, #mrcoffee,#wompcityfries,#questcof,#quest-coff,#quest-coffee,#jointhequest{
    margin-top:auto
}

#socials{
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    font-weight: bolder;
}

#companyemails{
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    font-weight: bolder;
}

#AboutUs{
    margin-right: auto;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration:underline;
    padding-left: 26%;

}

#CONTACTINFO{
    margin-right: auto;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration:underline;
    padding-left: 30%;

}

#quest{
    font-size: 21px;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.contacttext{
    position: absolute;
    margin-top: -70px;
    left: 60px;
}

#CONTACT-INFO{
    margin-right: auto;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration:underline;
    padding-left: 25%;
}

#applyherebox ::selection{
        color: rgb(60, 176, 1);
        background-color: rgb(119, 66, 8);
      
}

#companyboxintro ::selection{
    color: rgb(60, 176, 1);
    background-color: rgb(119, 66, 8);
  
}

#nav-buttons1 {
position: absolute;
top: 50px;  
left: 100px;
}

#nav-buttons2 {
position: absolute;
top: 50px;  
left: 200px;   
}

#nav-buttons3 {
position: absolute;
top: 50px;  
left: 300px;   
}

#nav-buttons4 {
position: absolute;
top: 50px;  
left: 400px;
}


/* For screens smaller than 768px */
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }
    .container {
        width: 100%;
    }
}

/* For screens 768px and larger */
@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
    .container {
        width: 750px;
    }
}

/* For screens 992px and larger */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* For screens 1200px and larger */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}




