@font-face {
    font-family:'Woodwarrior-Regular';
   src:
      url('../../fonts/Woodwarrior-Regular.otf')
       format('opentype');
       font-weight: normal;
       font-style: normal;
   }



body{
    background-position: relative;
    background-size: cover;
    background-repeat: repeat-y;
    background-image:url("../Images/Campony\ Info\ Page\ Background.png");
}
   
*{
    ::-webkit-scrollbar {
        background: #7a3b00;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #24b345;
        -webkit-border-radius: 1.5ex;
    }
    
    ::-webkit-scrollbar-corner {
        background: #006518a8;
    }
   }

#companyboxintro {
    border: 3.5px solid #000000;
    border-radius: 50px;
    position: absolute;
    top: 250px;
    left: 150px;
    background-color: #a7bb78c7;

} 


#applyherebox {
    border: 3.5px solid #000000;
    border-radius: 50px;
    position: absolute;
    top: 250px;
    left: 150px;
    background-color: #99b84fc9
} 

#mr-coffee {
    border: 3.5px solid #000000;
    border-radius: 50px;
}



#jointhequest {
    color: #0060d0;
}


#quest-coffee {
    color: #0060d0;
}

#quest-coff {
    color: #0060d0;
}

#questcof {
    color: #0060d0;
}

#wompcityfries {
    color: #0060d0;
}

#mrcoffee {
    color: #0060d0;
}