/* Wood Warrior font*/
@font-face { 
    font-family: 'Woodwarrior-Regular'; 
    src: 
        url('../../fonts/Woodwarrior-Regular.otf')  
        format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
} 

/* Ubuntu Condensed Font */
.ubuntu-condensed-regular {
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Background image*/
body{
    background-position: relative;
    background-size: cover;
    background-repeat: repeat-y;
    background-image:url("../Images/Index Background.png")
}

/*Scrollbar*/
*{
    ::-webkit-scrollbar {
        background: #7a3b00;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #24b345;
        -webkit-border-radius: 1.5ex;
    }
    
    ::-webkit-scrollbar-corner {
        background: #006518a8;
    }
}

#Page_Title{
    font-family: 'Woodwarrior-Regular';
    color: aliceblue;
}

/* Account button placement */
#account-button{
    float: right;
    position: relative;
    top: 20px;
    right: 20px;    
}

p{
    color: forestgreen;
    font-size: 25px;
    position: relative;
    right: 30px;
}

img{
    padding: 15px;
}

span{
    font-size: 25px;
    position: relative;
    right: 25px;
}