/* Wood Warrior font*/
@font-face {
  font-family: "Woodwarrior-Regular";
  src: url("../../fonts/Woodwarrior-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Ubuntu Condensed Font */
.ubuntu-condensed-regular {
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Background image*/
body {
  overflow-x: hidden;
  background-position: absolute;
  background-size: cover;
  background-repeat: repeat-y;
  background-image: url("../Images/Index_Background.png");
}

/*Scrollbar*/
* {
  ::-webkit-scrollbar {
    background: #7a3b00;
  }

  ::-webkit-scrollbar-thumb {
    background: #24b345;
    -webkit-border-radius: 1.5ex;
  }

  ::-webkit-scrollbar-corner {
    background: #006518a8;
  }
}

/* Account button placement */
#account-button {
  float: right;
  position: absolute;
  top: 20px;
  right: 20px;
}

p {
  color: white;
  font-size: 25px;
  position: absolute;
  left: 50px;
}

img {
  padding: 15px;
}

span {
  font-size: 25px;
  position: absolute;
  left: 40px;
  color: white;
}

#BOGOtext {
  position: absolute;
  top: 1185px;
  left: 585px;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: playfair-display, serif;
  text-align: center;
  font-style: italic;
  color: #eaf6cc;
  z-index: 5;
}

#BOGOimg {
  position: absolute;
  top: 1783px;
  left: 70px;
  width: 850px;
  height: 450px;
  border: #000000 solid 2.5px;
  border-radius: 5px;
  border-top: -5px;
  padding: 0.02px;
  margin: 3px;
  z-index: 2;
}

#BOGOtwo {
  position: absolute;
  p {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
    font-size: 30px;
  }
}

#BOGOtwoimg {
  position: absolute;
  top: 1665px;
  left: 950px;
  width: 850px;
  height: 450px;
  border: #000000 solid 2.5px;
  border-radius: 5px;
  padding: 0.02px;
  margin: 4px;
  z-index: 1;
}

#BOGOtwotext {
  position: absolute;
  top: 1085px;
  left: 1550px;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: playfair-display, serif;
  width: 200px;
  white-space: nowrap;
  text-align: center;
  font-style: italic;
  color: #eaf6cc;
  z-index: 6;
}

#black {
  position: absolute;
  top: 1770px;
  left: 57px;
  width: 855px;
  height: 460px;
}

#black2 {
  position: absolute;
  top: 1771px;
  left: 946px;
  width: 855px;
  height: 460px;
}

#black3 {
  position: absolute;
  top: 940px;
  left: 955px;
  width: 855px;
  height: 460px;
}

#black4 {
  position: absolute;
  top: 941px;
  left: 67px;
  width: 855px;
  height: 460px;
}
*/ #Starter {
  position: absolute;
}

#Starterimg {
  position: absolute;
  top: 945px;
  left: 70px;
  width: 850px;
  height: 450px;
  z-index: 3;
}

#Startertext {
  position: absolute;
  top: 2025px;
  left: 1465px;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: playfair-display, serif;
  text-align: center;
  font-style: italic;
  color: #eaf6cc;
  z-index: 6;
}

#Summer {
  position: absolute;
}

#Summerimg {
  position: absolute;
  top: 825px;
  left: 950px;
  width: 850px;
  height: 450px;
  z-index: 4;
}

#Summertext {
  position: relative;
  top: 1920px;
  left: 645px;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: playfair-display, serif;
  display: inline-block;
  width: 200px;
  text-align: center;
  font-style: italic;
  color: #eaf6cc;
  z-index: 6;
}

#redone {
  position: absolute;
  left: 881px;
  top: 500px;
  width: 140px;
  height: 140px;
  background-color: #986931d9;
  border: none;
  cursor: pointer;
}

#redone:hover {
  background-color: #986a31;
}

#blueone {
  position: absolute;
  left: 880px;
  top: 800px;
}

#blueoneimg {
  background-color: #986931d9;
}

#greenone {
  position: absolute;
  left: 865px;
  top: 1500px;
}

#greenoneimg {
  background-color: #986931d9;
}

#redtwo {
  position: absolute;
  top: 500px;
  left: 1360px;
}

#redtwoimg {
  background-color: #1b411fd9;
}

#bluetwo {
  position: absolute;
  left: 1360px;
  top: 800px;
}

#bluetwoimg {
  background-color: #1b411fd9;
}

#greentwo {
  position: absolute;
  left: 1350px;
  top: 1500px;
}

#greentwoimg {
  background-color: #1b411fd9;
}

#redthree {
  position: absolute;
  left: 370px;
  top: 500px;
}

#redthreeimg {
  background-color: #809848d9;
}

#bluethree {
  position: absolute;
  left: 370px;
  top: 800px;
}

#bluethreeimg {
  background-color: #809848d9;
}

#greenthree {
  position: absolute;
  left: 350px;
  top: 1500px;
}

#greenthreeimg {
  background-color: #809848d9;
}

#dealbox1 {
  position: absolute;
  top: 1900px;
  left: 250px;
  z-index: 7;
}

#dealbox2 {
  position: absolute;
  top: 1913px;
  left: 887px;
  z-index: 7;
}

#dealbox3 {
  position: absolute;
  top: 1058px;
  left: 1023px;
  z-index: 7;
}

#dealbox4 {
  position: absolute;
  top: 1058px;
  left: 1128px;
  z-index: 6;
}

#dealbag1 {
  position: absolute;
  top: 1019px;
  left: 900px;
  z-index: 6;
}

#dealbag2 {
  position: absolute;
  top: 1845px;
  left: 126px;
  z-index: 6;
}

#dealbag3 {
  position: absolute;
  top: 1850px;
  left: 1005px;
  z-index: 6;
}

#dealcup1 {
  position: absolute;
  top: 1120px;
  left: 1125px;
  z-index: 7;
}

#dealcup2 {
  position: absolute;
  top: 1120px;
  left: 1010px;
  z-index: 7;
}

#dealcup3 {
  position: absolute;
  top: 1080px;
  left: 175px;
  z-index: 7;
}

#dealcup4 {
  position: absolute;
  top: 1920px;
  left: 987px;
  z-index: 8;
}

footer {
  position: absolute;
  top: 2500px;
  left: 0px;
  width: 100%;
  height: 300px;
  background-color: #0e2e1f;
  color: white;
  text-align: center;
  font-family: Ubuntu Condensed;
  font-size: 20px;
}

#footer-buttons {
  color: #ffffff;
  border-radius: 25px;
  background-color: #809848;
  padding: 10px;
  width: 130px;
  text-align: center;
  font-size: 20px;
  border: #000000 solid 3px;
  font-family: Ubuntu Condensed;
}

#footer-buttons:hover {
  animation-name: button-hover2;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

#footer-text {
  font-size: 20px;
}

nav {
  list-style-type: none;
  overflow: hidden;
}

#nav1 {
  position: absolute;
  top: 60px;
  left: 100px;
  color: #ffffff;
  border-radius: 25px;
  background-color: #809848;
  padding: 10px;
  width: 130px;
  text-align: center;
  font-size: 20px;
  font-family: Ubuntu Condensed;
  border: #000000 solid 2.5px;
  cursor: pointer;
}

#nav1:hover {
  animation-name: button-hover2;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

#nav2 {
  position: absolute;
  top: 60px;
  left: 250px;
  color: #ffffff;
  border-radius: 25px;
  background-color: #809848;
  padding: 10px;
  width: 130px;
  text-align: center;
  font-size: 20px;
  font-family: Ubuntu Condensed;
  border: #000000 solid 2.5px;
  cursor: pointer;
}

#nav2:hover {
  animation-name: button-hover2;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

#nav3 {
  position: absolute;
  top: 60px;
  left: 400px;
  color: #ffffff;
  border-radius: 25px;
  background-color: #809848;
  padding: 10px;
  width: 130px;
  text-align: center;
  font-size: 20px;
  font-family: Ubuntu Condensed;
  border: #000000 solid 2.5px;
  cursor: pointer;
}

#nav3:hover {
  animation-name: button-hover2;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

#nav4 {
  position: absolute;
  top: 60px;
  left: 550px;
  color: #ffffff;
  border-radius: 25px;
  background-color: #809848;
  padding: 10px;
  width: 130px;
  text-align: center;
  font-size: 20px;
  font-family: Ubuntu Condensed;
  border: #000000 solid 2.5px;
  cursor: pointer;
}

#nav4:hover {
  animation-name: button-hover2;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

#Page_Title {
  position: absolute;
  top: 30px;
  left: 100px;
  color: #ffffff;
  font-size: 20px;
  font-family: "Woodwarrior-Regular";
}

/* Animation on submit order button */
@keyframes button-hover {
  from {
    background-color: rgb(42, 120, 0);
    border: 3px solid #000000;
  }
  to {
    background-image: Linear-gradient(#007011, #009f2d, #00b30f);
    border: 5px solid #000000;
  }
}

/* Animation on other buttons */
@keyframes button-hover2 {
  from {
    background-color: rgb(42, 120, 0);
  }
  to {
    background-image: Linear-gradient(#007011, #009f2d, #00b30f);
  }
}
