@font-face { 
    font-family: 'Woodwarrior-Regular'; 
    src: 
        url('../../fonts/Woodwarrior-Regular.otf')  
        format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}
.ubuntu-condensed-regular {
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
@font-face {
    font-family: 'SFUIText-Regular'; 
    src: 
        url('../../fonts/SFUIText-Regular.otf')  
        format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}
body {
    background-image: url(../Images/Item\ Page\ Background.png);
    background-size:cover;
    background-repeat:repeat;
}
.description {
    width: 500px;
    height: 200px;
    background-color: #809948eb;
    border: 3px solid #000000;
    border-radius: 20px;
    padding: 20px;
    text-align:center;
    color: white;
    font-family: Arial, sans-serif;
    position: absolute;
    left: 850px;
    top: 550px;
    font-family: Ubuntu Condensed;
    font-size: 20px;
}
.calories {
    width: 350px;
    height: 500px;
    background-color: #809948eb;
    border: 3px solid #000000;
    border-radius: 20px;
    padding: 20px;
    text-align:center;
    color: white;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 930px;
    left: 260px;
    font-family: SFUIText-Regular;
}
#espresso {
    border: 5px solid #000000;
    border-radius: 50px;
    position: absolute;
    top: 250px;
    left: 150px;
}
#QuestCoffeeText {
    color:white;
    position: absolute;
    left: 825px;
    top: 255px;
    font-family: inter;
}
#price {
    color: white;
    position: absolute;
    left: 1050px;
    top: 300px;
    font-family: inter;
}
*{
    ::-webkit-scrollbar {
        background: #7a3b00;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #24b345;
        -webkit-border-radius: 1.5ex;
    }
    
    ::-webkit-scrollbar-corner {
        background: #006518a8;
    }
   }
   .AddToCart {
    color: white;
    background-color: #67b41ae6;
    border: none;
    border-radius: 40px;
    width: 200px;
    height: 70px;
    position: absolute;
    left: 800px;
    top: 400px;
    font-family: Ubuntu Condensed;
    font-size: 20px;
   }

   .AddToCart:hover {
    background-color: #67B41A;
   }

   .FavoriteButton {
    color: white;
    background-color: #758b3cc0;
    border: none;
    border-radius: 35%;
    width: 100px;
    height: 90px;
    left: 1050px;
    top: 400px;
    position: absolute;
   }
   #Page_Title {
    font-family: Woodwarrior-Regular;
    color: aliceblue;
   }