body {
    background-image: url(../Images/Item\ Page\ Background.png);
    background-size:cover;
    background-repeat:repeat;
}
.description {
    width: 500px;
    height: 200px;
    background-color: #809948eb;
    border: 3px solid #000000;
    border-radius: 20px;
    padding: 20px;
    text-align:center;
    color: white;
    font-family: Arial, sans-serif;
    position: absolute;
    left: 850px;
    top: 550px;
}
.calories {
    width: 350px;
    height: 500px;
    background-color: #809948eb;
    border: 3px solid #000000;
    border-radius: 20px;
    padding: 20px;
    text-align:center;
    color: white;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 930px;
    left: 260px;
}
#expresso {
    border: 5px solid #000000;
    border-radius: 50px;
    position: absolute;
    top: 250px;
    left: 150px;
}
#QuestCoffeeText {
    color:white;
    position: absolute;
    left: 825px;
    top: 255px;
}
#price {
    color: white;
    position: absolute;
    left: 1050px;
    top: 300px;
}
*{
    ::-webkit-scrollbar {
        background: #7a3b00;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #24b345;
        -webkit-border-radius: 1.5ex;
    }
    
    ::-webkit-scrollbar-corner {
        background: #006518a8;
    }
   }
   .AddToCart {
    color: white;
    background-color: #67b41ae6;
    border: none;
    border-radius: 40px;
    width: 200px;
    height: 70px;
    position: absolute;
    left: 800px;
    top: 400px;
   }

   .AddToCart:hover {
    background-color: #67B41A;
   }

   .FavoriteButton {
    color: white;
    background-color: #758b3cc0;
    border: none;
    border-radius: 35%;
    width: 100px;
    height: 90px;
    left: 1050px;
    top: 400px;
    position: absolute;
   }