body {
    background-image: url(../Images/Item\ Page\ Background.png);
    background-size:cover;
    background-repeat:repeat;
}
.description {
    width: 200px;
    height: 300px;
    background-color: #809948eb;
    border: 3px solid #000000;
    border-radius: 20px;
    padding: 20px;
    text-align:center;
    color: white;
    font-family: Arial, sans-serif;
    position: absolute;
    left: 1100px;
    top: 450px;
}
.calories {
    width: 200px;
    height: 300px;
    background-color: #809948eb;
    border: 3px solid #000000;
    border-radius: 20px;
    padding: 20px;
    text-align:center;
    color: white;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 450px;
}
#expresso {
    border: 3px solid #000000;
    border-radius: 20px;
}
#QuestCoffeeText {
    color:white;
}
#price {
    color: white;
}
*{
    ::-webkit-scrollbar {
        background: #7a3b00;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #24b345;
        -webkit-border-radius: 1.5ex;
    }
    
    ::-webkit-scrollbar-corner {
        background: #006518a8;
    }
   }
   .AddToCart {
    color: white;
    background-color: #67b41ae6;
    border: none;
    border-radius: 10px;
   }
   .AddToCart ::hover {
    background-color: red;
   }
   .FavoriteButton {
    color: white;
    background-color: #758b3cc0;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    left: 300px;
    position: absolute;
   }