



[data-custom-class="body"] {
    color: #000000 !important;
}

[data-custom-class="body"] {
    color: rgb(0, 0, 0) !important;
}

[data-custom-class="body"] {
    color: rgb(0, 0, 0) !important;
}
